body {
    padding: 20px;
}

h1 {
    text-align: center;
}
.App {
    max-width: 800px;
    margin: 0 auto;
}
.cardTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drawAndDiscardPiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: gainsboro;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
}

.column {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.cardList {
    display: flex;
    flex-direction: column;
}

.card,
.cardPlaceholder {
    border: 2px solid black;
    background: rgb(246, 246, 241);
    padding: 0.25rem;
    min-height: 4rem;
    min-width: 2rem;
    border-radius: 0.3rem;
    aspect-ratio: 2/3;
    box-shadow: 0 0rem 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
}
.cardPlaceholder {
    border: 3px dashed #afb3ff;
    background: none;
    box-shadow: none;
}

.card:not(:first-child) {
    /* Overlap cards, see https://fireship.io/lessons/css-cards-animated/ */
    margin-top: -3rem;
    /* the first card doesn't get this look, it sits more flat on table */
    box-shadow: 0 -0.03rem 0.08rem 0.08rem rgba(0, 0, 0, 0.3);
}

.card.faceDown {
    /* https://www.magicpattern.design/tools/css-backgrounds */
    background: repeating-linear-gradient(
        -45deg,
        #afb3ff,
        #afb3ff 3px,
        #e5e5f7 3px,
        #e5e5f7 10px
    );
}

.d,
.h {
    color: red;
}

.c,
.s {
    color: black;
}
