h1,
p {
    font-family: Lato;
}

body {
    padding: 20px;
}

input {
    margin-left: 10px;
}

.cardTable {
    display: flex;
    flex-direction: row;
}

.column {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card {
    border: 2px solid black;
    padding: 10px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 0.3rem;
    aspect-ratio: 2/3;
    /* drop shadow for playing card */
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.d,
.h {
    color: red;
}

.c,
.s {
    color: black;
}